@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*   ---   main style   ---   */


body {
   font-family: 'Roboto', sans-serif;
   color: #2b3b33;
   height: 100%;
   position: relative;
}

header {
  background-color: white;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #2b3b33;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  box-shadow: 1px 0 10px 1px #919e9a;
  z-index: 1;
  font-family: 'Cardo', serif;
  color: #2b3b33;
}

h1 {
  font-size: 32px;
  margin-left: 25px;
}

nav {
  margin: 0 25px 0 0;
}


nav a {
  text-decoration: none;
  color: #2b3b33;
  margin-right: 20px;
  font-size: 24px;
  transition: color .5s ease-in-out;
}

nav a:hover {
  color: #367041;
}


.component {
  width: 100%;
  padding-top: 75px;
}





/*specific to home page*/

.wtIMG {
  width: 50%;
}

img{
  width: 100%;
  height: auto;
}

.info{
  width: 40%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  width: 70%;
  margin: 50px auto;
  /* border-top: 4px double #2b3b33;
  border-bottom: 4px double #2b3b33;
  padding: 25px 25px; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.main {
  border-top: 4px double #2b3b33;
  border-bottom: 4px double #2b3b33;
  padding: 25px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #2b3b33;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
}

p {
  font-size: 16px;
  margin-top: 16px;
  line-height: 20px;
}

.side {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #367041;
  transition: color .5s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}





/* specific to pubs page */

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

article p {
  margin: 0 0;
}

article {
  margin-bottom: 40px;
}

.title {
   font-weight: bold;
}

.journal {
  font-style: italic;
}
